.shengti {
	width:980px;
	height: 640px;
	background-color: skyblue;
	padding: 10px 0 0 220px;
	/*overflow: hidden;*/
}
.guanggao {
	/*margin: 10px 0 0 220px ;*/
	/*float: right;*/
	/*margin-top: 4px ;*/
	width: 980px;
	height: 455px;
	background-color: red;
}
.tupian {
	float: left;
	height: 100%;
	width: 720px;
	background-color: green;
}
.xiao_biao_ti {
	float: right;
	width: 250px;
	height: 100%;
	background-color: purple;
}
.gengduo {
	width: 100%;
	height: 162px;
	background-color: yellow;
}
.gengduo01 {
	height: 35px;
	width: 100%;	border-bottom: 1px dashed #ccc;
	/*background-color: green;*/
	margin-bottom: 5px;
}
.gengduo01 p,
.gengduo01 a {
	display: inline-block;
	line-height: 35px;
	font-size: 14px;
	padding: 0 20px;
	margin-right: 20px;
}
.gengduo em {
	/*文字不倾斜*/
	font-style: normal;
	font-weight: 700;
	
}
.tehui ul li {
	height: 25px;	
	padding-left: 20px;
}
.tehui ul li p {
	font-size: 12px;
}
	


.tubiao {
	width: 100%;
	height: 210px;
	background-color: goldenrod;
}
.new_automn {
	width: 100%;
	height: 73px;
	margin-top: 10px;
	background-color: gray;
}

